nav {
  display: flex;
  gap: 1rem;
  align-items: center;
  padding: 1rem 2rem;
  height: 30px;
  background-color: var(--secondary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  .logo-container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .menu-options {
    margin-left: auto;
    display: flex;
    gap: 1rem;
  }
  a {
    text-decoration: none;
    color: var(--primary-color);
    &:hover {
      text-decoration: underline;
    }
  }
  a.active {
    font-weight: bold;
  }
}
