.create-user-title {
  color: var(--secondary-color);
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 1rem;
  border: 2px solid var(--secondary-color);
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;
  button {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    cursor: pointer;
    color: var(--secondary-color);
    transition: background-color 0.3s;
    font-weight: bold;
    &:hover {
      color: white;
      background-color: var(--secondary-color);
    }
  }
}
